.edit-creator-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .edit-creator-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .edit-creator-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .edit-creator-form input,
  .edit-creator-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .edit-creator-form button {
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-creator-form button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Space between the buttons */
    margin-bottom: 20px; /* Space below the buttons */
  }
  
  .image-preview-container {
    margin-bottom: 20px;
  }
  
  .image-preview {
    width: 150px; /* Medium-sized box */
    height: 150px;
    object-fit: cover; /* Maintain aspect ratio and cover the box */
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .error-message {
    color: #dc3545;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .success-message {
    color: #28a745;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .back-to-home {
    margin-top: 20px; /* Space between the form and the back link */
  }
  